<section class="hero is-warning">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        let's talk
      </h1>
      <h2 class="subtitle">
        What do you want to do today?
      </h2>
      <%= link_to 'Add Something', new_category_path,  class: 'button is-gray' %>
    </div>
  </div>

</section>
